@media screen and (max-width: 2560px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 10px;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 8px;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 4px;
	}
}

@media screen and (max-width: 300px) {
	html {
		font-size: 2px;
	}
}

@media screen and (max-width: 200px) {
	html {
		font-size: 1px;
	}
}
