.Plant-area {
	border-style: dashed;
	border-color: red;
	border-width: 3px;
	position: absolute;
	opacity: 0.7;
	z-index: 200;
	cursor: pointer;
	background-color: white;
	font-size: 2rem;
	line-height: 3rem;
}
