body > #root {
	width: 1920px;
	height: 1080px;
	background-color: antiquewhite;
	pointer-events: none;
}

.App {
	text-align: center;
	width: 1920px;
	height: 1080px;
	margin: 0;
	padding: 0;
	background: url("./school_map.png");
	overflow: hidden;
	pointer-events: none;
}
