header {
	width: 100%;
	height: 5rem;
	background-color: rgb(174, 172, 172);
	position: fixed;
	display: flex;
	z-index: 201;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	padding-left: 3rem;
	padding-right: 3rem;
}

h1 {
	font-size: 3.3em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.Header-logo {
	width: 5rem;
	height: 5rem;
}
